version: "3.9"

services:
  app:
    build: .
    container_name: uv_app
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    environment:
      OLLAMA_HOST: http://ollama:11434

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    command: ["serve"]

volumes:
  ollama: